header {
    background-color: rgb(187, 134, 143);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    margin-bottom: 1em;
  }
  
  header a {
    color: white;
    text-decoration: none;
  }
  
  header a.active {
    text-decoration: underline;
  }
  
  .router-outlet {
    min-height: 70vh;
  }
  
  footer {
    background-color: rgb(107, 54, 63);
    color: white;
    padding: 0.5em 1em;
  }
  
  header nav {
    display: flex;
    gap: 1em;
  }